%h1 Listing holdings

%table
  %thead
    %tr
      %th Name
      %th Active
      %th
      %th
      %th

  %tbody
    - @holdings.each do |holding|
      %tr
        %td= holding.name
        %td= holding.active
        %td= link_to 'Show', holding
        %td= link_to 'Edit', edit_holding_path(holding)
        %td= link_to 'Destroy', holding, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Holding', new_holding_path
