%h1 Listing enterprises

%table
  %thead
    %tr
      %th Name
      %th Active
      %th Holding
      %th
      %th
      %th

  %tbody
    - @enterprises.each do |enterprise|
      %tr
        %td= enterprise.name
        %td= enterprise.active
        %td= enterprise.holding
        %td= link_to 'Show', enterprise
        %td= link_to 'Edit', edit_enterprise_path(enterprise)
        %td= link_to 'Destroy', enterprise, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Enterprise', new_enterprise_path
