%p#notice= notice

%p
  %b Name:
  = @enterprise.name
%p
  %b Active:
  = @enterprise.active
%p
  %b Holding:
  = @enterprise.holding

= link_to 'Edit', edit_enterprise_path(@enterprise)
\|
= link_to 'Back', enterprises_path
