<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Inventory</title>
=======
    <title>Te10go</title>
>>>>>>> 67f9507c7c8a09c417f331808a96e00234ea66ba
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
=======
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" rel="stylesheet"/>

    <%= javascript_pack_tag "registration" %>
>>>>>>> 67f9507c7c8a09c417f331808a96e00234ea66ba
  </head>

  <body>
    <%= yield %>
<<<<<<< HEAD
=======

>>>>>>> 67f9507c7c8a09c417f331808a96e00234ea66ba
  </body>
</html>
